  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomarket</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <div class="Menu">
        <ul class="Menu_right">
          <li class="title">Eco Market</li>
        </ul>
        <div class="items">
          <ul class="Menu_left">
            <li class="inicio">Inicio</li>
            <li>Catálogo</li>
            <li>Vender</li>
            <li>Mis compras</li>
            <li id="Cuenta">Crear Cuenta</li>
          </ul>
          <button>Ingresa</button>
        </div>
      </div>    
  </body>
  </html>
